# Ignore node_modules folder (npm dependencies)
node_modules/

# Ignore environment variables file
.env

# Ignore log files
*.log

# Ignore build and dist folders
build/
dist/

# Ignore editor and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
